---
import { Image } from "astro:assets";
// Badges
import lida from "/src/assets/badges/atos-leading-in-the-digital-age-lida.png";
import githubActions from "/src/assets/badges/github-actions.png";
import githubCopilot from "/src/assets/badges/github-copilot.png";
import cpwa from "/src/assets/badges/iaap-certified-professional-in-web-accessibility-cpwa.png";
import kbbfl from "/src/assets/badges/iaap-dach-barrierefrei-lehren.png";
import bellonaImage from "/src/assets/husky.png";
import profileImage from "/src/assets/michael-profile-2022-katana.png";
import PersonSchema from "../components/PersonSchema.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About me">
	<section id="bio">
		<h2>About Me</h2>
		<Image class="profile" src={profileImage} alt="Michael's profile picture" />
		<p>As a web developer with a strong focus on UI/UX, I create digital experiences that prioritize accessibility, clarity, and user autonomy. I believe technology should adapt to people—not the other way around—and I’m committed to building interfaces that remain inclusive and dependable across abilities, devices, and browsing contexts.</p>
		<p>I’m passionate about modern web standards and enjoy exploring new HTML and CSS capabilities as they emerge. Experimenting with fresh techniques, pushing boundaries, and refining patterns is part of my daily work. Clean, maintainable code matters to me because it leads to solutions that are resilient, intuitive, and enjoyable for both users and developers.</p>
		<Image class="dog" src={bellonaImage} alt="Bellona, our family husky lying in the snow" />
		<p>My approach is shaped by the discipline and perseverance I’ve developed through years of practicing martial arts, including karate, Brazilian Jiu-Jitsu, Luta Livre, and MMA. These principles influence how I solve problems, collaborate with teams, and navigate complex challenges with focus, respect, and consistency.</p>
		<p>Outside of work, I recharge by spending time with my family and staying active. Whether I’m dog‑trekking, mountain biking, snowboarding, or exploring the outdoors with Bellona—our endlessly energetic Husky—I bring the same curiosity and enthusiasm that drive my work in tech.</p>
	</section>
	<section id="badges">
		<h2>Certifications & Badges</h2>
		<a href="https://www.credly.com/badges/3779ebb4-05ca-4512-9fe3-4be51ee8e3df/public_url" target="_blank" rel="noopener">
			<Image src={cpwa} alt="IAAP Certified Professional in Web Accessibility (CPWA) Badge" />
		</a>
		<a href="https://www.credly.com/badges/450df9d3-497d-43dc-a9a5-ad106538ff64/public_url" target="_blank" rel="noopener">
			<Image src={kbbfl} alt="IAAP DACH KB-BFL Teaching without barriers Badge" />
		</a>
		<a href="https://www.credly.com/badges/768a3f7e-d99c-446c-90f9-b6f726222349/public_url" target="_blank" rel="noopener">
			<Image src={githubCopilot} alt="GitHub Copilot Badge" />
		</a>
		<a href="https://www.credly.com/badges/ac887f1d-5b7b-4ede-a4f1-c71206a570ac/public_url" target="_blank" rel="noopener">
			<Image src={githubActions} alt="GitHub Actions Badge" />
		</a>
		<a href="https://www.credly.com/badges/9d51f898-a6cf-4a58-8ac5-e9e9d3cfd85c/public_url" target="_blank" rel="noopener">
			<Image class="lida" src={lida} alt="Leading in the Digital Age badge from Atos" />
		</a>
	</section>
</Layout>

<PersonSchema />
