---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import profileImg from "/src/assets/michael-profile-colors.jpg";
import Layout from "../layouts/Layout.astro";

const blog = (await getCollection("blog")).sort(
	(a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);

const dateOptions = {
	// weekday: "long",
	year: "numeric",
	month: "short",
	day: "numeric",
};
---

<Layout title="">
	<div class="intro">
	<a href='/about'><Image class="profile" src={profileImg} alt="michaël holding a katana on a colorful background"></a>
	<p>
		<strong> Hey! My name is Michaël</strong>, I'm a passionate web developer dedicated to crafting accessible and user-friendly interfaces that make a difference. I believe that every user—regardless of abilities or context—should experience seamless, intuitive digital interactions. My love for clean code and exploring the latest HTML and CSS features fuels my drive for innovation. With a background in martial arts, I bring the same discipline, respect, and commitment to my work, ensuring high-quality, future-proof solutions.
	</p>
	</div>
	<hr>
	<h2>Latest post</h2>
	{blog.find(post => post.data.published) && (
		<article>
			{(() => {
				const lastPublished = blog.find(post => post.data.published);
				return (
					<>
						<h3>
							<a href={lastPublished.url}>{lastPublished.data.title}</a>
						</h3>
						{/* TODO: add here image concept too */}
						<img src={`/blog/${lastPublished.id}/${lastPublished.data.image}`} alt="" />
						<p>
							{lastPublished.data.description}
						</p>
						<time datetime={lastPublished.data.date}>
							{new Date(lastPublished.data.date).toLocaleDateString(undefined, dateOptions)}
						</time>
					</>
				);
			})()}
		</article>
	)}
	)}
</Layout>
